body {
    background-image: url('./assets/bg.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center; 
    color: white;
    overflow: hidden;
}
/*****************************header******************************/
#logo{
    width: 150px;
    padding-top: 20px;
    padding-left: 50px ;
}
/******************************main********************************/
#title{
    font-family: "Outfit", sans-serif;
    font-size: 60px;
}
.comtitle{
    font-family: "Inter", sans-serif;
    font-size: 16px;
}
main{
    text-align: center;
}
.stella
{
    width: 50px;
    height: 50px;
    
}
#rec{
    padding-bottom: 10px;
}
/**************************comment section*************************/
.comment-section {
    padding: 20px;
}
textarea {
    width: 75%;
    padding: 20px 0 0;
}
#comment{
    margin-top: 10px;
    padding: 0%;
    border: none;
    border-bottom: 2px solid #900080;
    box-sizing: border-box; 
    resize: none; 
    overflow: hidden; 
    color: white;
    background-color: transparent; 
}

#more {
    margin-top: 50px;
    padding: 15px;
    font-weight: bold;
    text-align: center;
    background-color: #00ffff;
    color: #0B113B;
    box-shadow: 0px 0px 30px #0ffff0;
    border: transparent
}
/****************************footer********************************/